clms.downloadtool @ git+https://github.com/eea/clms.downloadtool.git@10.1.1
clms.addon @ git+https://github.com/eea/clms.addon.git@13.5.1
clms.statstool
clms.types
collective.folderishtypes
collective.volto.cookieconsent
collective.volto.dropdownmenu
collective.volto.formsupport[norobots]
eea.meeting
ftw.tokenauth
pas.plugins.oidc
pas.plugins.ldap
eea.volto.policy
